@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
:root {
  --main-bg-color: var(brown);
  --font3: "Playwrite DE Grund", cursive;
  --font2: "Roboto", sans-serif;
  --font1: "Kanit", sans-serif;
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.my-2{
  margin-top: 12px;
  margin-bottom: 12px;
}

.btn {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: white;
  background: brown;
}
.form-input {
  padding: 6px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.form-box {
  padding: 6px;
  margin: 5px;

}
